<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Guided Passage</h1>
    <h3>Patient Portal</h3>

    <a href="/login"><span></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    <p>Are You a Provider? <a href="/provider_">Click here</a></p>
  </body>
</html>
a
