<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
    </header>
    <h1>Guided Passage</h1>
    <section class="entrance">
      <section>
        <h2>Sign Up</h2>
      </section>
      <section>
        <h2>Log In</h2>
      </section>
    </section>
    <footer></footer>
    <script ></script>
  </body>
</html>
