<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Guided Passage</h1>
    <h2>Patient Portal</h2>
    
    <form action="/patient_login" method="post">

      <label for="">Email</label>
      <input type="text" name="email" value="">
      <label for="">Password</label>
      <input type="password" name="password" value="">

      <button type="submit" name="button">Log In</button>

    </form>

    <script ></script>
  </body>
</html>
