<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guided Passage</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <h1>Guided Passage</h1>
    <h2>Patient Portal</h2>

    <p><a href="/logout">Logout</a></p>

    <form class="" action="/patient_profile" method="post">

      <label for="">1. Body Temperature: </label>
      <input type="text" name="question1" value="" required>

      <!-- <label for="">1b. Food Intake: </label>
        <select id="country" name="question2">
          <option value="australia">All meals</option>
          <option value="canada">Most meals</option>
          <option value="usa">No appetite/No intake</option>
        </select>

      <label for="">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
      <input type="text" name="" value="" required>

      <label for="">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
      <input type="text" name="" value="" required>

      <label for="">4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
      <input type="text" name="" value="" required>

      <label for="">5. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
      <input type="text" name="" value="" required>

      <label for="">6. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
      <input type="text" name="" value="" required>
-->
      <button type="submit" name="button">Submit</button>

    </form>

  </body>
</html>
