<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Guided Passage</h1>
    <h2>Patient Registration Portal</h2>

    <form class="" action="/submit_registration" method="post">

      <label for="">First Name</label>
      <input type="text" name="firstName" value="">
      <label for="">Last Name</label>
      <input type="text" name="lastName" value="">
      <label for="">Phone Number</label>
      <input type="text" name="phoneNumber" value="">
      <label for="">Email</label>
      <input type="text" name="email" value="">
      <label for="">Diagnosis</label>
      <input type="text" name="diagnosis" value="">
      <label for="">Primary Care Provider</label>
      <input type="text" name="primaryCareProvider" value="">
      <label for="">Hospital</label>
      <input type="text" name="hospital" value="">
      <label for="">Password</label>
      <input type="password" name="password" value="">


      <button type="submit" name="button">Sign Up</button>

    </form>

    <script ></script>
  </body>
</html>
