<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guided Passage</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h1>Provider Access</h1>

    <!-- Side Navigation -->
    <section>

    </section>
    <!-- Main Display Of Patient Data -->
    <section>

    </section>
    
  </body>
</html>
