<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
    </header>
    <h1>Guided Passage</h1>
    <h2>Provider Portal</h2>
    <form class=""  method="post">

      <label for="">Badge #</label>
      <input type="text" name="" value="">
      <label for="">Password</label>
      <input type="text" name="" value="">

      <button type="submit" name="button">Log In</button>

    </form>

    <p>Are You a Patient? <a href="/">Click here</a></p>

    <script></script>
  </body>
</html>
